body {
    margin:0;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
}

.btns {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btns button {
    width:100%
}

.equals {
    grid-column: span 3;
}