@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    margin:0;
    font-family: Audiowide, sans-serif;
    font-size: 1.5rem;
    color: #00FF41;
    background:url(matrix.svg);
    background-size: 100%;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-wrap: break-word;

}

.display {
    min-height: 50px;;
    width: 400px;
    border: solid #00FF41;;
    border-width: 2px;
    background:#0D0208;
    text-align: start;
    padding: 20px;
    
}

@media screen and (max-width: 900px){
    .display {
        /* height: 40px; */
        width: 250px;
    }
}


.btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btns button {
    color: #00FF41;
    background: #0D0208;
    font-family: Audiowide, sans-serif;
    font-size: 1.2rem;
}

button {
    border-color: #00FF41;
    padding:20px 30px;
}

.equals {
    grid-column: span 3;
}

