@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
    margin:0;
    font-family: Audiowide, sans-serif;
    font-size: 1.5rem;
    color: #00FF41;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index:0;
}
.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-wrap: break-word;
    z-index: 300;
}

.display {
    min-height: 50px;;
    width: 400px;
    border: solid #00FF41;;
    border-width: 2px;
    border-bottom: 0px;
    background:#0D0208;
    text-align: start;
    padding: 20px;
    
}

@media screen and (max-width: 900px){
    .display {
        /* height: 40px; */
        width: 250px;
    }
}


.btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btns button {
    color: #00FF41;
    background: #0D0208;
    font-family: Audiowide, sans-serif;
    font-size: 1.2rem;
}

button {
    border-color: #00FF41;
    padding:20px 30px;
}

button:hover {
    color: black;
    background-color: #00FF41;
    filter: brightness(110%);
}

button:active {
    color: black;
    background-color: #00FF41;
}

.equals {
    grid-column: span 1;
}

.clear {
    grid-column: span 1;
}

.clearEntry {
    grid-column: span 2;
}

